[<share_name>]
path = <share_path>
guest ok = no
read only = no
browseable = yes
inherit acls = yes
inherit permissions = no
ea support = no
store dos attributes = no
printable = no
create mask = 0755
force create mode = 0644
directory mask = 0755
force directory mode = 0755
hide dot files = yes
valid users = <valid_user>
invalid users =
read list = <read_list>
write list = <write_list>

